@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.background-blue {
  position: relative;
}
.background-blue::after {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  content: "";
  background: linear-gradient(to left, #000FFF, #0000A3);
  transform: skew(0deg, -7deg);
  top: 0px;
  left: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 44px;
}
.header .container-logo {
  height: 24px;
  width: 24px;
}
.header .container-logo .header-logo {
  width: 100%;
  height: auto;
}
.header .container-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.header .container-menu .hamburguesa {
  position: relative;
  bottom: 0px;
  left: -9999px;
  opacity: 0;
}
.header .container-menu .hamburguesa:checked ~ .hamburguesa-label::before {
  top: 50%;
  height: 2px;
  border-bottom: 0px;
  transform: rotate(45deg);
}
.header .container-menu .hamburguesa:checked ~ .hamburguesa-label::after {
  top: 50%;
  height: 2px;
  border-bottom: 0px;
  transform: rotate(-45deg);
}
.header .container-menu .hamburguesa:checked ~ .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 38px;
  width: 100%;
  padding: 24px 16px 0;
}
.header .container-menu .hamburguesa:checked ~ .menu .menu-option {
  padding-bottom: 24px;
  font-family: "IBM Plex Mono";
  text-transform: uppercase;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
}
.header .container-menu .hamburguesa-label {
  position: relative;
  align-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.header .container-menu .hamburguesa-label::before {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s;
  top: 20%;
  height: 35%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: transparent;
}
.header .container-menu .hamburguesa-label::after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s;
  height: 1px;
  background-color: #000000;
  border-bottom: 2px solid #000000;
  bottom: 20%;
}
.header .container-menu .menu {
  display: none;
  background: #000FFF;
}
.header .container-menu .menu .menu-option {
  color: #FFF;
}

.section-Hello-World {
  padding: 0 16px;
  margin-top: 30px;
  margin-bottom: 24px;
}
.section-Hello-World .tittle {
  font-family: "IBM Plex Sans";
  font-size: 36px;
  line-height: 42px;
  max-width: 260px;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  margin-bottom: 16px;
}
.section-Hello-World .description {
  margin-top: 16px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 600;
  font-family: "IBM Plex Mono";
  color: #060A24;
}
.section-Hello-World .button-hello-world {
  height: 48px;
  width: 100%;
  max-width: 320px;
  text-transform: uppercase;
  color: #060A24;
  border: none;
  font-family: "IBM Plex Mono";
  background: #00F3BB;
  font-weight: 600;
  font-size: 16px;
  margin-top: 36px;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  margin-bottom: 24px;
  cursor: pointer;
}
.section-Hello-World .button-hello-world:hover {
  color: #FFFFFF;
  transition: 0.25s;
  background: linear-gradient(to left, #0000FE, #00F3BB);
}

.podcasts {
  padding: 50px 11px;
}
.podcasts .podcasts-list {
  position: relative;
  z-index: 2;
}
.podcasts .tittle-episodios {
  position: relative;
  z-index: 2;
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 300;
  margin-bottom: 21px;
}
.podcasts .podcasts-container {
  margin-bottom: 11px;
  line-height: 0;
}
.podcasts .podcasts-container:last-child {
  margin-bottom: 80px;
}

.come-from .come-from-container {
  padding: 0 16px;
  height: 810px;
  margin-bottom: 54px;
}
.come-from .come-from-container .container-img-phone {
  display: flex;
  position: relative;
  height: 519px;
  width: 100%;
  z-index: 2;
  top: -80px;
  justify-content: center;
}
.come-from .come-from-container .container-img-phone .img-phone {
  max-width: 320px;
  height: 100%;
  width: 100%;
}
.come-from .come-from-container .container-description-come-from {
  margin-top: 27px;
  position: relative;
  top: -80px;
}
.come-from .come-from-container .container-description-come-from .tittle-come-from {
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  max-width: 290px;
}
.come-from .come-from-container .container-description-come-from .description-come-from {
  margin-top: 8px;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

.photo-album .tittle-photo-album {
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 14px;
}
.photo-album .photo-album-container .photo-container {
  height: 243px;
  width: 100%;
  max-width: 415px;
}
.photo-album .photo-album-container .photo-container .photo {
  height: 100%;
  width: 100%;
}

@media (min-width: 1040px) {
  .header {
    padding: 0 100px;
    height: 80px;
  }
  .header .container-logo {
    height: 36px;
    width: 36px;
  }
  .header .container-menu .hamburguesa-label {
    display: none;
  }
  .header .container-menu .menu {
    display: flex;
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    background: transparent;
    padding: 0;
  }
  .header .container-menu .menu .menu-option {
    color: #060A24;
    font-size: 16px;
    padding-bottom: 0px;
    padding: 0 24px;
    letter-spacing: 0;
    line-height: 28px;
    cursor: pointer;
  }
  .header .container-menu .menu .menu-option:last-child {
    padding-right: 0px;
  }
  .header .container-menu .menu .menu-option:active {
    color: #060A24 !important;
    opacity: 56%;
    text-decoration: line-through;
    font-size: 16px;
    padding-bottom: 0px;
    padding: 0 24px;
    letter-spacing: 0;
    line-height: 28px;
    cursor: pointer;
    color: #00F3BB;
  }
  .header .container-menu .menu .menu-option:active:last-child {
    padding-right: 0px;
  }
  .header .container-menu .menu .menu-option:hover {
    color: #060A24;
    text-decoration: line-through;
    font-size: 16px;
    padding-bottom: 0px;
    padding: 0 24px;
    letter-spacing: 0;
    line-height: 28px;
    cursor: pointer;
    color: #00F3BB;
  }
  .header .container-menu .menu .menu-option:hover:last-child {
    padding-right: 0px;
  }

  .section-Hello-World {
    padding: 0 200px;
    margin-top: 120px;
    margin-bottom: 5px;
  }
  .section-Hello-World .tittle {
    position: relative;
    font-size: 64px;
    max-width: 100%;
    letter-spacing: 0;
  }
  .section-Hello-World .tittle::after {
    content: ".";
    color: #000FFF;
    position: relative;
    right: 18px;
    font-size: 65px;
    z-index: 2;
  }
  .section-Hello-World .description {
    position: relative;
    visibility: hidden;
    width: 628px;
    margin-bottom: 56px;
  }
  .section-Hello-World .description::before {
    visibility: visible;
    content: "El portal de podcasts que explora el mundo de la programación y";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .section-Hello-World .description::after {
    visibility: visible;
    content: "la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
    position: absolute;
    left: 0;
    top: 23px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .section-Hello-World .button-hello-world {
    height: 56px;
    width: 220px;
    min-width: 220px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .podcasts {
    padding: 125px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .podcasts .tittle-episodios {
    padding-left: 100px;
    max-width: 1440px;
    width: 100%;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 26px;
  }
  .podcasts .podcasts-list {
    display: flex;
    flex-wrap: wrap;
    margin: -36px;
    max-width: 1440px;
    width: 100%;
    margin-bottom: 0px;
  }
  .podcasts .podcasts-list .podcasts-container {
    padding: 36px;
    margin-bottom: 0;
    width: 50%;
  }
  .podcasts .podcasts-list .podcasts-container:last-child {
    margin-bottom: 0px;
  }

  .come-from .come-from-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 200px;
    height: 350px;
    margin-top: 160px;
    margin-bottom: 54px;
    max-width: 1325px;
    align-items: center;
  }
  .come-from .come-from-container .container-img-phone {
    height: 660px;
    width: 457px;
    margin-top: -175px;
    max-width: 458px;
    flex: 1;
  }
  .come-from .come-from-container .container-img-phone .img-phone {
    max-width: 1440px;
  }
  .come-from .come-from-container .container-description-come-from {
    padding: 0 0 458px 110px;
    flex: 1;
    height: 100%;
    width: 100%;
  }
  .come-from .come-from-container .container-description-come-from .tittle-come-from {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 400;
    max-width: 399px;
    margin-bottom: 24px;
  }
  .come-from .come-from-container .container-description-come-from .description-come-from {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    max-width: 464px;
  }

  .photo-album .tittle-photo-album {
    padding: 0 200px;
    font-family: "IBM Plex Sans";
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 36px;
  }
  .photo-album .photo-album-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
  }
  .photo-album .photo-album-container .photo-container {
    height: 364px;
    max-width: 480px;
    width: 30%;
    flex-grow: 1;
  }
  .photo-album .photo-album-container .photo-container .photo {
    height: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
