@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

$color-principal: #000FFF;
$color-lyrics: #060A24;
$font-family-header: IBM+Plex+Mono;

@mixin menu-parameters-before-after {
			position:absolute;
			display:block;
			content:" ";
			width: 100%;             
			box-sizing: border-box;
			transition: 0.2s;
}

@mixin parameters-hamburguesa{
	      top:50%;
        height:2px;
        border-bottom: 0px;
}

 *{
	 margin: 0px;
	 padding: 0px;
 }

.header{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	height: 44px;

  .header-logo{
    height: 24px;
    width: 24px;
  }
    
  .container-menu{
		display: flex;
		align-items: center;
		justify-content: center;

		.hamburguesa{
			position: relative;
			bottom: 0px;
			left: -9999px;
			opacity: 0;
			
			&:checked{
				&~.hamburguesa-label{
					&::before{
						@include parameters-hamburguesa();
						transform: rotate(45deg); 
					}
					&::after{
						@include parameters-hamburguesa();
						transform: rotate(-45deg);
					}
				}
				&~.menu{
					display: flex;
					flex-direction: column;
					position: absolute;
					left: 0px;
					top: 38px;
					padding: 10px;
					width: 100%;
					height: auto;
				}
			}
		}

		.hamburguesa-label{
			position:relative;
			align-content: center;
			width:20px;
			height:20px;
			cursor: pointer;
			box-sizing: border-box;
				
				&::before{
					@include menu-parameters-before-after();
					top: 20%;
					height: 35%;
					border-top:2px solid black;
					border-bottom:2px solid black;
					background-color: transparent;
				}

				&::after{
					@include menu-parameters-before-after();
					height:1px;
					background-color:black;
					border-bottom:2px solid black;
					bottom: 20%;
				}
		}
		
		.menu{
			display: none;
			background: $color-principal;
			
			.menu-option{
				color: #FFF;
			}

		}
  }
}






@media(min-width: 415px){
  .header{
    height: 80px;

    .header-logo{
      height: 36px;
      width: 36px;
      }
        
		.container-menu{
			display: inline-block;
			.hamburguesa-label{
				display: none;
			}
				
			.menu{
				display: inline-block;
				position: absolute;
				right: 100px;
				width: auto;
				background: transparent;
					
				.menu-option{
					display: inline-block;
					color:$color-lyrics;		
					margin-left: 20px;
				}
		
			}
		}
	}
}


