$color-principal: #000FFF;
$color-white: #FFFFFF;
$color-lyrics: #060A24;
$color-borders: #000000;
$color-hover-button: #0000FE;
$font-family-IBM-PLEX-MONO: 'IBM Plex Mono';
$font-family-IBM-PLEX-SANS: 'IBM Plex Sans';
$color-button: #00F3BB;
